*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  overflow-x: hidden;
}
/* header */
header {
  background-image: url("/images/header-background.png");
  padding-bottom: 4rem;
}
nav {
  width: 100%;
  position: absolute;
  z-index: 999;
}
.container {
  width: 92%;
  margin: 0 auto;
}
.nav-containter {
  display: flex;
  justify-content: space-between;
  padding-top: 3.5rem;
}
.nav__right {
  display: flex;
  flex-direction: column;
}
.font-color-brown {
  color: rgb(61, 37, 20);
}
.nav-delivery {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1.75rem;
}
.nav__delivery-number__text {
  padding: 0.5rem 0 0 0.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.nav__list {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  font-family: "Bebas Neue", cursive;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.nav__list__items {
  margin-left: 2.5rem;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
}
.nav__list__items:hover {
  box-shadow: 0px 0px 7px 0px rgba(61, 60, 60, 0.5);
}

.header__contents {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-family: "Alfa Slab One", cursive;
}
.header__contents__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.header__contents__left__bordered-text {
  font-family: "Bebas Neue", cursive;
  border: 1px dashed rgb(61, 37, 20);
  font-size: 1.5rem;
  padding: 0 1rem;
  line-height: 32.85px;
}
.header__contents__left__title-top {
  font-family: "Alfa Slab One", cursive;
  text-transform: uppercase;
  font-size: 7.1rem;
  text-shadow: 4px 5px rgb(254, 232, 188);
  padding-top: 1.2rem;
  line-height: 1em;
}
.header__contents__left__title-bottom {
  font-family: "Alfa Slab One", cursive;
  text-shadow: 4px 5px rgb(254, 232, 188);
  text-transform: uppercase;
  font-size: 3.54rem;
}
.header__contents__img {
  position: relative;
  z-index: 1;
}

.header__contents__price {
  position: absolute;
  font-family: "Bebas Neue", cursive;
  background: rgb(191, 34, 34);
  height: 175px;
  width: 175px;
  border-radius: 9999px;
  color: white;
  top: 35rem;
  right: 36rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header__contents__price-border {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='white' stroke-width='4' stroke-dasharray='7%2c15' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
  border-radius: 100px;
  width: 145px;
  height: 145px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header__contents__price-number {
  display: flex;
  align-items: baseline;
  line-height: 1;
}
.header__contents__price-large {
  font-size: 4.3rem;
  display: flex;
  justify-content: center;
}
.header__contents__price-small {
  font-size: 1.875rem;
}
.header__contents__price-text {
  font-size: 2rem;
  letter-spacing: 12px;
  line-height: 1;
}

/* trySection */
.trySection {
  text-align: center;
  font-family: "Bebas Neue", cursive;
  text-transform: uppercase;
  color: white;
  width: 87%;
  margin: 0 auto;
  margin-bottom: 35px;
}
.trySection__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 42px;
  row-gap: 35px;
  margin: 78px 0 72px 0;
}
.trySection__card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 0 0 30px;
  border-radius: 10px;
  transition: all 150ms ease-in;
}
.trySection__card:hover {
  box-shadow: 0px 0px 16px 0px rgba(50, 50, 50, 0.72);
  cursor: pointer;
}
.trySection__card--left {
  background-image: url("/images/trySection-\ left.png");
  background-size: cover;
  grid-row: 1 / 3;
  height: 500px;
}
.trySection__card--rightTop {
  background-size: cover;
  background-image: url("/images/trySection-\ right-top.png");
  background-position: center center;
}
.trySection__card--rightbottom {
  background-size: cover;
  background-image: url("/images/trySection-\ right-bottom.png");
}
.trySection__card__Text--small {
  font-size: 25px;
}
.trySection__card__Text--large {
  font-size: 42px;
  line-height: 0.9;
}
.trySection__button {
  font-family: "Bebas Neue", cursive;
  text-transform: uppercase;
  font-size: 25px;
  border: none;
  background: rgb(255, 192, 69);
  cursor: pointer;
  padding: 10px 20px;
}
.trySection__button:hover {
  box-shadow: 0px 0px 16px 0px rgba(61, 60, 60, 0.72);
  background: rgb(61, 37, 20);
  color: rgb(255, 192, 69);
}
/* chooseSection */
.chooseSection {
  color: rgb(61, 37, 20);
  text-align: center;
}
.chooseSection__headline {
  font-family: "Alfa Slab One", cursive;
  font-size: 50px;
}
.chooseSection__details {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 30px;
  padding: 10px 0;
  margin: 0 auto;
  width: 75%;
}
.chooseSection__card_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
  padding: 50px 0;
}
.chooseSection__card__img--sides {
  margin-top: 26px;
}
.chooseSection__card__title {
  font-family: "Bebas Neue", cursive;
  font-weight: 400;
  font-size: 37.5px;
}
.chooseSection__card__details {
  font-family: "Montserrat", sans-serif;
  padding: 10px 40px;
}
.chooseSection__card__orderbutton {
  background: rgb(191, 34, 34);
  font-family: "Alfa Slab One", cursive;
  margin-top: 20px;
  padding: 16px 40px;
  text-transform: uppercase;
  border: none;
  color: white;
  cursor: pointer;
}
.chooseSection__card__orderbutton:hover {
  background: rgb(224, 45, 45);
  box-shadow: 0px 0px 7px 0px rgba(61, 60, 60, 0.5);
}
/* reservationSection */
.reservationSection {
  margin-bottom: 190px;
  text-align: center;
}
.reservationSection__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 27px;
  width: 60%;
  margin: 0 auto;
}
.reservationSection__form__inputs {
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
  padding: 20px 22px;
  border-radius: 5px;
  border: 1px solid rgb(190, 190, 190);
  text-transform: uppercase;
}
.reservationSection__form__inputs::placeholder {
  font-family: "Bebas Neue", cursive;
  font-weight: 400;
  font-size: 20px;
  color: rgb(61, 61, 61);
}
.reservationSection__form__inputs--submit {
  background: rgb(191, 34, 34);
  font-family: "Alfa Slab One", cursive;
  color: white;
  font-size: 20px;
  padding: 0;
}
.reservationSection__form__inputs--submit:hover {
  background: rgb(224, 45, 45);
  box-shadow: 0px 0px 7px 0px rgba(61, 60, 60, 0.5);
  cursor: pointer;
}
.reservationSection__reservation {
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
  line-height: 45px;
  font-weight: 400;
  letter-spacing: 2px;
}
.reservationSection__book {
  font-family: "Alfa Slab One", cursive;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 400;
  padding-bottom: 70px;
}
.reservationSection__container {
  position: relative;
  z-index: 999;
}
.reservationSection__burgerImg {
  position: absolute;
  top: -100px;
  left: -140px;
}
.reservationSection__bottleImg {
  position: absolute;
  left: 35px;
  top: 130px;
}
.reservationSection__mealImg {
  position: absolute;
  top: 170px;
  right: -320px;
}
/* footer */
.footer__containter {
  background-image: url("/images/footer-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
  color: white;
  margin-bottom: 65px;
}
.footer__logo {
  padding: 50px 0;
}
.footer__text__containter {
  display: flex;
  justify-content: space-between;
}
.footer__text__containter__contents {
  width: 35%;
  padding-bottom: 165px;
}
.footer__text__containter__contents--left {
  font-family: "Montserrat", sans-serif;
  line-height: 25px;
}
.footer__text__containter__contents--right {
  font-family: "Bebas Neue", cursive;
  align-self: center;
  font-size: 21px;
  line-height: 37.5px;
}

.footer__text__containter__contents--right__items {
  display: flex;
}
.footer__text__containter__contents--right__items__fontawesome__location {
  padding: 8px 38px 0 3px;
}
.footer__text__containter__contents--right__items__fontawesome__email {
  padding: 8px 35px 0 0;
}
.footer__social__and__copyrights__containter {
  display: flex;
  justify-content: space-between;
}
.footer__copyrights {
  font-family: "Bebas Neue", cursive;
  font-weight: 400;
}
.footer__socialMedia__container {
  display: flex;
  list-style-type: none;
}
.footer__socialMedia__container__item {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 9999px;
  margin-left: 13px;
  width: 30px;
  height: 30px;
}
.footer__socialMedia__icon {
  padding: 7px;
  color: black;
}
